@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
    font-family: 'Inter', sans-serif;
    margin: 10px 100px 30px 100px;
}

h1 {
    font-weight: bold;
    padding: 15px;
    text-align: center;
    background-color: #898bd9;
    color: #15056e;
    margin-bottom: 0;
}

.descricao {
    padding-left: 210px;
    text-align: center;
    
}

p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.titulo_formatado {
    margin: 10px 210px 30px 0;
}

.titulo_secundario {
    font-weight: 400;
    color: #0f044e;
    padding: 10px;
    background-color: #808080;
    border-bottom: 5px solid #15056e;
    font-weight: bolder;
}

.paragrafo {
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 35px;
    margin-top: 0px;
}

strong {
    font-weight: bold;
    color: #15056e;
    font-weight: bolder;
}

.paragrafoExperiencia {
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px ;
}

img {
    width: 200px;
    height: 192px;
    float: right;
    margin-top: 50px;
}


.menu {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.menu li {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.menu a {
    background-color: #808080;
    padding: 12px;
    display: inline-block;
   
}

.menu a:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}